(
.notdef,
NULL,
CR,
space,
uni0C80,
candrabinduknda,
anusvaraknda,
visargaknda,
uni0C84,
aknda,
aaknda,
iknda,
iiknda,
uknda,
uuknda,
rvocalicknda,
lvocalicknda,
eknda,
eeknda,
aiknda,
oknda,
ooknda,
auknda,
kaknda,
khaknda,
gaknda,
ghaknda,
ngaknda,
caknda,
chaknda,
jaknda,
jhaknda,
nyaknda,
ttaknda,
tthaknda,
ddaknda,
ddhaknda,
nnaknda,
taknda,
thaknda,
daknda,
dhaknda,
naknda,
paknda,
phaknda,
baknda,
bhaknda,
maknda,
yaknda,
raknda,
rraknda,
laknda,
llaknda,
vaknda,
shaknda,
ssaknda,
saknda,
haknda,
nuktaknda,
avagrahaknda,
aavowelsignknda,
ivowelsignknda,
iivowelsignknda,
uvowelsignknda,
uuvowelsignknda,
rvocalicvowelsignknda,
rrvocalicvowelsignknda,
rvocalicvowelsignUIknda,
rrvocalicvowelsignUIknda,
evowelsignknda,
eevowelsignknda,
aivowelsignknda,
aivowelsignUIknda,
ovowelsignknda,
oovowelsignknda,
auvowelsignknda,
viramaknda,
lengthmarkknda,
ailengthmarkknda,
ailengthmarkUIknda,
faknda,
rrvocalicknda,
llvocalicknda,
lvocalicvowelsignknda,
llvocalicvowelsignknda,
lvocalicvowelsignUIknda,
llvocalicvowelsignUIknda,
zeroknda,
oneknda,
twoknda,
threeknda,
fourknda,
fiveknda,
sixknda,
sevenknda,
eightknda,
nineknda,
uni0CF1,
uni0CF2,
rephknda,
nakaarapolluknda,
anusvaraaboverightknda,
januktaknda,
phanuktaknda,
kasubscriptknda,
khasubscriptknda,
gasubscriptknda,
ghasubscriptknda,
ngasubscriptknda,
casubscriptknda,
chasubscriptknda,
jasubscriptknda,
jhasubscriptknda,
nyasubscriptknda,
ttasubscriptknda,
tthasubscriptknda,
ddasubscriptknda,
ddhasubscriptknda,
nnasubscriptknda,
tasubscriptknda,
thasubscriptknda,
dasubscriptknda,
dhasubscriptknda,
nasubscriptknda,
pasubscriptknda,
phasubscriptknda,
basubscriptknda,
bhasubscriptknda,
masubscriptknda,
yasubscriptknda,
rasubscriptknda,
rrasubscriptknda,
lasubscriptknda,
llasubscriptknda,
vasubscriptknda,
shasubscriptknda,
ssasubscriptknda,
sasubscriptknda,
hasubscriptknda,
fasubscriptknda,
januktasubscriptknda,
phanuktasubscriptknda,
kasubscriptUIknda,
khasubscriptUIknda,
gasubscriptUIknda,
ghasubscriptUIknda,
ngasubscriptUIknda,
casubscriptUIknda,
chasubscriptUIknda,
jasubscriptUIknda,
jhasubscriptUIknda,
nyasubscriptUIknda,
ttasubscriptUIknda,
tthasubscriptUIknda,
ddasubscriptUIknda,
ddhasubscriptUIknda,
nnasubscriptUIknda,
tasubscriptUIknda,
thasubscriptUIknda,
dasubscriptUIknda,
dhasubscriptUIknda,
nasubscriptUIknda,
pasubscriptUIknda,
phasubscriptUIknda,
basubscriptUIknda,
bhasubscriptUIknda,
masubscriptUIknda,
yasubscriptUIknda,
rasubscriptUIknda,
rrasubscriptUIknda,
lasubscriptUIknda,
llasubscriptUIknda,
vasubscriptUIknda,
shasubscriptUIknda,
ssasubscriptUIknda,
sasubscriptUIknda,
hasubscriptUIknda,
fasubscriptUIknda,
januktasubscriptUIknda,
phanuktasubscriptUIknda,
kanocrestknda,
khanocrestknda,
ganocrestknda,
ghanocrestknda,
canocrestknda,
chanocrestknda,
janocrestknda,
jhanocrestknda,
ttanocrestknda,
tthanocrestknda,
ddanocrestknda,
ddhanocrestknda,
nnanocrestknda,
tanocrestknda,
thanocrestknda,
danocrestknda,
dhanocrestknda,
nanocrestknda,
panocrestknda,
phanocrestknda,
banocrestknda,
bhanocrestknda,
manocrestknda,
yanocrestknda,
ranocrestknda,
lanocrestknda,
llanocrestknda,
vanocrestknda,
shanocrestknda,
ssanocrestknda,
sanocrestknda,
hanocrestknda,
januktanocrestknda,
phanuktanocrestknda,
kaviramaknda,
khaviramaknda,
gaviramaknda,
ghaviramaknda,
ngaviramaknda,
caviramaknda,
chaviramaknda,
javiramaknda,
jhaviramaknda,
nyaviramaknda,
ttaviramaknda,
tthaviramaknda,
ddaviramaknda,
ddhaviramaknda,
nnaviramaknda,
taviramaknda,
thaviramaknda,
daviramaknda,
dhaviramaknda,
naviramaknda,
paviramaknda,
phaviramaknda,
baviramaknda,
bhaviramaknda,
maviramaknda,
yaviramaknda,
raviramaknda,
rraviramaknda,
laviramaknda,
llaviramaknda,
vaviramaknda,
shaviramaknda,
ssaviramaknda,
saviramaknda,
haviramaknda,
faviramaknda,
januktaviramaknda,
phanuktaviramaknda,
kivowelknda,
khivowelknda,
givowelknda,
ghivowelknda,
civowelknda,
chivowelknda,
jivowelknda,
jhivowelknda,
ttivowelknda,
tthivowelknda,
ddivowelknda,
ddhivowelknda,
nnivowelknda,
tivowelknda,
thivowelknda,
divowelknda,
dhivowelknda,
nivowelknda,
pivowelknda,
phivowelknda,
bivowelknda,
bhivowelknda,
mivowelknda,
yivowelknda,
rivowelknda,
livowelknda,
llivowelknda,
vivowelknda,
shivowelknda,
ssivowelknda,
sivowelknda,
hivowelknda,
jivowelnuktaknda,
phivowelnuktaknda,
kevowelknda,
khevowelknda,
gevowelknda,
ghevowelknda,
cevowelknda,
chevowelknda,
jevowelknda,
jhevowelknda,
ttevowelknda,
tthevowelknda,
ddevowelknda,
ddhevowelknda,
nnevowelknda,
tevowelknda,
thevowelknda,
devowelknda,
dhevowelknda,
nevowelknda,
pevowelknda,
phevowelknda,
bevowelknda,
bhevowelknda,
mevowelknda,
yevowelknda,
revowelknda,
levowelknda,
llevowelknda,
vevowelknda,
shevowelknda,
ssevowelknda,
sevowelknda,
hevowelknda,
jevowelnuktaknda,
phevowelnuktaknda,
aavowelsignaltknda,
evowelsignaltknda,
uvowelsignaltknda,
uuvowelsignaltknda,
uvowelsignalt2knda,
uuvowelsignalt2knda,
uvowelsignlaknda,
uuvowelsignlaknda,
jhovowelknda,
movowelknda,
yovowelknda,
kassaknda,
kassanocrestknda,
kassaviramaknda,
kassivowelknda,
kassevowelknda,
janyaknda,
janyanocrestknda,
janyaviramaknda,
janyivowelknda,
janyevowelknda,
kassaUIknda,
kassanocrestUIknda,
kassaviramaUIknda,
kassivowelUIknda,
kassevowelUIknda,
janyaUIknda,
janyanocrestUIknda,
janyaviramaUIknda,
janyivowelUIknda,
janyevowelUIknda,
karasubscriptknda,
garasubscriptknda,
ttarasubscriptknda,
ddarasubscriptknda,
tarasubscriptknda,
darasubscriptknda,
parasubscriptknda,
bharasubscriptknda,
tayasubscriptknda,
mayasubscriptknda,
tasubscriptrvocalicknda,
masubscriptrvocalicknda,
tasubscriptlengthmarkknda,
masubscriptlengthmarkknda,
rasubscriptlengthmarkknda,
karasubscriptUIknda,
garasubscriptUIknda,
ttarasubscriptUIknda,
ddarasubscriptUIknda,
tarasubscriptUIknda,
darasubscriptUIknda,
parasubscriptUIknda,
bharasubscriptUIknda,
tayasubscriptUIknda,
mayasubscriptUIknda,
tasubscriptrvocalicUIknda,
masubscriptrvocalicUIknda,
tasubscriptlengthmarkUIknda,
masubscriptlengthmarkUIknda,
rasubscriptlengthmarkUIknda,
kasubscriptaltknda,
khasubscriptaltknda,
gasubscriptaltknda,
ghasubscriptaltknda,
ngasubscriptaltknda,
casubscriptaltknda,
chasubscriptaltknda,
jasubscriptaltknda,
jhasubscriptaltknda,
nyasubscriptaltknda,
ttasubscriptaltknda,
tthasubscriptaltknda,
ddasubscriptaltknda,
ddhasubscriptaltknda,
nnasubscriptaltknda,
tasubscriptaltknda,
thasubscriptaltknda,
dasubscriptaltknda,
dhasubscriptaltknda,
nasubscriptaltknda,
pasubscriptaltknda,
phasubscriptaltknda,
basubscriptaltknda,
bhasubscriptaltknda,
masubscriptaltknda,
yasubscriptaltknda,
rasubscriptaltknda,
rrasubscriptaltknda,
lasubscriptaltknda,
llasubscriptaltknda,
vasubscriptaltknda,
shasubscriptaltknda,
ssasubscriptaltknda,
sasubscriptaltknda,
hasubscriptaltknda,
fasubscriptaltknda,
januktasubscriptaltknda,
phanuktasubscriptaltknda,
rvocalicvowelsignaltknda,
rrvocalicvowelsignaltknda,
ailengthmarkaltknda,
lvocalicvowelsignaltknda,
llvocalicvowelsignaltknda,
kasubscriptaltUIknda,
khasubscriptaltUIknda,
gasubscriptaltUIknda,
ghasubscriptaltUIknda,
ngasubscriptaltUIknda,
casubscriptaltUIknda,
chasubscriptaltUIknda,
jasubscriptaltUIknda,
jhasubscriptaltUIknda,
nyasubscriptaltUIknda,
ttasubscriptaltUIknda,
tthasubscriptaltUIknda,
ddasubscriptaltUIknda,
ddhasubscriptaltUIknda,
nnasubscriptaltUIknda,
tasubscriptaltUIknda,
thasubscriptaltUIknda,
dasubscriptaltUIknda,
dhasubscriptaltUIknda,
nasubscriptaltUIknda,
pasubscriptaltUIknda,
phasubscriptaltUIknda,
basubscriptaltUIknda,
bhasubscriptaltUIknda,
masubscriptaltUIknda,
yasubscriptaltUIknda,
rasubscriptaltUIknda,
rrasubscriptaltUIknda,
lasubscriptaltUIknda,
llasubscriptaltUIknda,
vasubscriptaltUIknda,
shasubscriptaltUIknda,
ssasubscriptaltUIknda,
sasubscriptaltUIknda,
hasubscriptaltUIknda,
fasubscriptaltUIknda,
januktasubscriptaltUIknda,
phanuktasubscriptaltUIknda,
rvocalicvowelsignaltUIknda,
rrvocalicvowelsignaltUIknda,
ailengthmarkaltUIknda,
lvocalicvowelsignaltUIknda,
llvocalicvowelsignaltUIknda,
karasubscriptaltknda,
garasubscriptaltknda,
ttarasubscriptaltknda,
ddarasubscriptaltknda,
tarasubscriptaltknda,
darasubscriptaltknda,
parasubscriptaltknda,
bharasubscriptaltknda,
tayasubscriptaltknda,
mayasubscriptaltknda,
tasubscriptrvocalicaltknda,
masubscriptrvocalicaltknda,
tasubscriptlengthmarkaltknda,
masubscriptlengthmarkaltknda,
rasubscriptlengthmarkaltknda,
karasubscriptaltUIknda,
garasubscriptaltUIknda,
ttarasubscriptaltUIknda,
ddarasubscriptaltUIknda,
tarasubscriptaltUIknda,
darasubscriptaltUIknda,
parasubscriptaltUIknda,
bharasubscriptaltUIknda,
tayasubscriptaltUIknda,
mayasubscriptaltUIknda,
tasubscriptrvocalicaltUIknda,
masubscriptrvocalicaltUIknda,
tasubscriptlengthmarkaltUIknda,
masubscriptlengthmarkaltUIknda,
rasubscriptlengthmarkaltUIknda,
kasubscriptrightknda,
khasubscriptrightknda,
gasubscriptrightknda,
ghasubscriptrightknda,
ngasubscriptrightknda,
casubscriptrightknda,
chasubscriptrightknda,
jasubscriptrightknda,
jhasubscriptrightknda,
nyasubscriptrightknda,
ttasubscriptrightknda,
tthasubscriptrightknda,
ddasubscriptrightknda,
ddhasubscriptrightknda,
nnasubscriptrightknda,
tasubscriptrightknda,
thasubscriptrightknda,
dasubscriptrightknda,
dhasubscriptrightknda,
nasubscriptrightknda,
pasubscriptrightknda,
phasubscriptrightknda,
basubscriptrightknda,
bhasubscriptrightknda,
masubscriptrightknda,
yasubscriptrightknda,
rasubscriptrightknda,
rrasubscriptrightknda,
lasubscriptrightknda,
llasubscriptrightknda,
vasubscriptrightknda,
shasubscriptrightknda,
ssasubscriptrightknda,
sasubscriptrightknda,
hasubscriptrightknda,
fasubscriptrightknda,
januktasubscriptrightknda,
phanuktasubscriptrightknda,
kasubscriptrightUIknda,
khasubscriptrightUIknda,
gasubscriptrightUIknda,
ghasubscriptrightUIknda,
ngasubscriptrightUIknda,
casubscriptrightUIknda,
chasubscriptrightUIknda,
jasubscriptrightUIknda,
jhasubscriptrightUIknda,
nyasubscriptrightUIknda,
ttasubscriptrightUIknda,
tthasubscriptrightUIknda,
ddasubscriptrightUIknda,
ddhasubscriptrightUIknda,
nnasubscriptrightUIknda,
tasubscriptrightUIknda,
thasubscriptrightUIknda,
dasubscriptrightUIknda,
dhasubscriptrightUIknda,
nasubscriptrightUIknda,
pasubscriptrightUIknda,
phasubscriptrightUIknda,
basubscriptrightUIknda,
bhasubscriptrightUIknda,
masubscriptrightUIknda,
yasubscriptrightUIknda,
rasubscriptrightUIknda,
rrasubscriptrightUIknda,
lasubscriptrightUIknda,
llasubscriptrightUIknda,
vasubscriptrightUIknda,
shasubscriptrightUIknda,
ssasubscriptrightUIknda,
sasubscriptrightUIknda,
hasubscriptrightUIknda,
fasubscriptrightUIknda,
januktasubscriptrightUIknda,
phanuktasubscriptrightUIknda,
exclam.knda,
quotedbl.knda,
numbersign.knda,
percent.knda,
quotesingle.knda,
parenleft.knda,
parenright.knda,
parenleft.UIknda,
parenright.UIknda,
asterisk.knda,
plus.knda,
comma.knda,
hyphen.knda,
period.knda,
slash.knda,
slash.UIknda,
zero.knda,
one.knda,
two.knda,
three.knda,
four.knda,
five.knda,
six.knda,
seven.knda,
eight.knda,
nine.knda,
colon.knda,
semicolon.knda,
less.knda,
equal.knda,
greater.knda,
question.knda,
bracketleft.knda,
backslash.knda,
bracketright.knda,
bracketleft.UIknda,
backslash.UIknda,
bracketright.UIknda,
asciicircum.knda,
underscore.knda,
braceleft.knda,
bar.knda,
braceright.knda,
braceleft.UIknda,
bar.UIknda,
braceright.UIknda,
asciitilde.knda,
sfthyphen.knda,
endash.knda,
emdash.knda,
quoteleft.knda,
quoteright.knda,
quotedblleft.knda,
quotedblright.knda,
ellipsis.knda,
multiply.knda,
divide.knda,
minus.knda,
uni20B9.knda,
uni0951,
uni0952,
dandaknda,
dbldandaknda,
uni1CD0,
uni1CD2,
uni1CDA,
uni1CF2,
uni1CF4,
uni1CF5,
uniA830,
uniA831,
uniA832,
uniA833,
uniA834,
uniA835,
uni2010,
candrabindu_0951knda,
candrabindu_0952knda,
candrabindu_1CDAknda,
uni200B,
uni200C,
uni200D,
uni25CC,
uni00A0
)